* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.about-border {
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-pic {
  width: 320px;
  height: 320px;
}

.tech-icon {
  font-size: 5rem;
}

.skills-container {
  margin-top: 1rem;
  margin-bottom: 5rem;
  overflow-x: scroll;
}

.tech-container {
  display: flex;
  min-width: 320px;
  width: calc(100vw - 20vw);
  max-width: 1000px;
}

.tech-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  float: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 5rem;
}

.project-div {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.project-title {
  font-size: 3rem;
  font-weight: bold;
}

.project-category,
.project-description-header {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.project-demo {
  border: none;
  border-radius: 45px;
  background-color: #2a9d8f;
  padding: 1rem;
}

.project-repo {
  border: none;
  border-radius: 45px;
  background-color: #7678ed;
  padding: 1rem;
}

.project-demo,
.project-repo {
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.project-demo:hover,
.project-repo:hover {
  transform: scale(1.1);
}

.project-demo:active,
.project-repo:active {
  transform: scale(1);
}

.project-image-div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Set background size to auto */
  width: 100%; /* Set width to auto to allow it to adjust */
  height: auto; /* Set height to auto to allow it to adjust */
  display: flex;
  justify-content: end;
  align-items: end;
  border-radius: 20px;
}

.project-buttons {
  margin-right: 1rem;
}

.faded {
  opacity: 0.9;
}

.hidden-image {
  width: 100%;
  visibility: hidden;
  position: relative;
}

.contact-page {
  width: 100%;
}
