* {
  font-family: "Roboto Slab", serif;
}

.about-border {
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-pic {
  width: 320px;
  height: 320px;
}

.tech-icon {
  font-size: 5rem;
}

.tech-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1rem;
  padding: 1rem;
}

.skills-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-container {
  display: flex;
  overflow-x: scroll;
  min-width: 320px;
  width: calc(100vw - 20vw);
  max-width: 1000px;
}

h1 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 5rem;
}

.project-image {
  width: 100%;
}

.project-title {
  font-size: 3rem;
}

.project-category {
  font-size: 1.5rem;
}

.project-demo {
}

.project-repo {
}
