@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --dm-background: "";
  --dm-writing: "";
  --dm-faded: "";
  --dm-accent: "#168fff";

  --lm-background: "";
  --lm-writing: "";
  --lm-faded: "";
  --lm-accent: "#168fff";
}

* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.content-border {
  display: flex;
  justify-content: center;
  min-width: 320px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
}

.intro-media-div {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  gap: 1rem;
}

.intro-div {
  font-size: 3rem;
}

.intro-description {
  font-size: 1rem;
}

#profile-pic {
  width: 320px;
  height: 320px;
  object-fit: contain;
  border-radius: 100%;
}

#lm .strava:hover,
#dm .strava:hover {
  color: red;
}

#lm .strava,
#lm .strava:visited {
  text-decoration: none;
  color: #f96c4b;
}

#dm .strava,
#dm .strava:visited {
  text-decoration: none;
  color: #fcaf3f;
}

.summary-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-icon {
  font-size: 3rem;
}

.skills-container {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  width: calc(100vw - 20vw);
  max-width: 1000px;
}

.tech-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 1rem;
  height: 5.5rem;
  width: 5.5rem;
  position: relative;
  float: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo-name {
  font-size: 0.75rem;
}

h1 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 5rem;
}

#lm .project-header {
  color: #168fff;
  text-align: center;
}

#dm .project-header {
  color: #89eed1;
}

.contact-page {
  width: 100%;
}

.contact-item {
  padding: 1rem 0rem 1rem 0rem;
}

.email-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email-info {
  min-width: 320px;
  width: 60%;
}

.email-text {
  resize: none;
  height: 4rem;
  overflow-y: scroll;
}

.send-div {
  min-width: 320px;
  width: 60%;
  display: flex;
  justify-content: end;
}

.send-div > * {
  background-color: #168fff;
  border: none;
  border-radius: 45px;
  width: 4rem;
  height: 1.5rem;
}

.send-div > *:hover {
  transform: scale(1.1);
  color: white;
}

.send-div > *:active {
  transform: scale(1);
  color: black;
}

#lm .accent {
  color: #0a9396;
}

#dm .accent {
  color: #c5cee6;
}

@media (max-width: 860px) {
  .intro-media-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 1100px) {
  .intro-div {
    font-size: 2rem;
  }

  .tech-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 0.1rem;
    height: 5.5rem;
    width: 5.5rem;
    position: relative;
    float: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media (max-width: 860px) {
}
