.nav-border {
  position: fixed;
  background-color: #168fff;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  opacity: 0.9;
  font-weight: bold;
  z-index: 11;
  backdrop-filter: blur(10px);
}

.container {
  min-width: 320px;
  width: calc(100vw - 20vw);
  max-width: 1000px;
}

.tabs {
  display: flex;
  gap: 1rem;
}

.nav-anchor {
  text-decoration: none;
}

.nav-anchor:visited {
  color: black;
}

.nav-anchor:hover {
  color: white;
}
