.nav-border {
  position: fixed;
  color: #168fff;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  backdrop-filter: blur(10px);
}

#lm .nav-border {
  background-color: #168fff00;
  color: #168fff;
}

#dm .nav-border {
  background-color: #168fff00;
  color: #ff0000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  opacity: 0.9;
  font-weight: bold;
  z-index: 11;
  min-width: 320px;
  width: calc(100vw - 10vw);
  max-width: 1500px;
}

.container {
  min-width: 320px;
  width: calc(100vw - 25vw);
  max-width: 1300px;
}
.logo-div {
  font-size: 3rem;
  width: 5rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.nav-anchor {
  text-decoration: none;
}

.nav-anchor:visited {
  color: black;
}

.nav-anchor:hover {
  color: white;
}

.nav-anchor:active {
  color: black;
}

@media (max-width: 768px) {
  .logo-div {
    font-size: 3rem;
    width: 3rem;
  }

  .nav-anchor {
    font-size: 1rem;
  }
}
