.project-div {
  padding: 2rem 1rem 2rem 1rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  border-radius: 25px;
}

#dm .project-div {
  background-color: #1b2a44;
}

#lm .project-div {
  background-color: #faf3f0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 3rem;
  font-weight: bold;
}

.project-category {
  font-size: 1.5rem;
}

.project-demo {
  border: none;
  border-radius: 45px;
  background-color: #2a9d8f;
  padding: 1rem;
}

.project-repo {
  border: none;
  border-radius: 45px;
  background-color: #7678ed;
  padding: 1rem;
}

.project-demo,
.project-repo {
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.project-demo:hover,
.project-repo:hover {
  transform: scale(1.1);
}

.project-demo:active,
.project-repo:active {
  transform: scale(1);
}

.project-image-div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Set background size to auto */
  width: 40%; /* Set width to auto to allow it to adjust */
  height: auto; /* Set height to auto to allow it to adjust */
  display: flex;
  justify-content: end;
  align-items: end;
  border-radius: 20px;
}

.project-image-div:hover {
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.4);
}

.project-content {
  width: 60%;
}

.project-buttons {
  margin-right: 1rem;
}

.faded {
  opacity: 0.9;
}

.hidden-image {
  width: 100%;
  visibility: hidden;
  position: relative;
}

.project-tools-div {
  display: flex;
}

.project-tool {
  margin: 0.25rem;
  padding: 0.375rem;
  border-radius: 15px;
}

#dm .project-tool {
  background: #0077b6;
  color: #c5cee6;
}

#lm .project-tool {
  background: #f7e1d7;
  color: #343a40;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 860px) {
  .project-div {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  .project-image-div {
    width: 100%;
  }

  .project-content {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .project-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .project-category {
    font-size: 1.2rem;
  }
}
